{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid page-title-container py-4 px-0 px-lg-5">
    <div class="row">
        <div class="text-center">
            <h2>Delivery Info</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-md-6 offset-md-3">
            <p class="lead">Delivery Info</p>
            <h6>Standard Delivery</h6>
            <p>We aim to deliver within 5 working days (it’s often much faster). Saturdays and Sundays are not considered
            working days.</p>
            <p>Standard Delivery orders will be dispatched within 72 hours of being received and can be delivered Monday to
            Saturday.</p>
            <p>We use DPD for all deliveries. You will receive an email and text message from DPD and be able to see up to
            date information on your order’s journey as well as a timed delivery slot, precise to within one hour. To
            track your parcel, please use the 10-digit tracking ID found in your despatch confirmation email on
            dpd.co.uk.</p>
            <p>If your order does not arrive within 7 days and you have not received any information from us regarding any
            possible delays, please contact us on 0330 123 4567 Monday - Friday 9.30am – 4.30pm.</p>
            <h6>Next Day Delivery</h6>
            <p>For an additional cost you can select Next Day Delivery, this will be shown in the delivery options drop
            down box at the time of purchasing. Not all items are eligible for Next Day Delivery. If this is not an
            option, it will not be shown.
            <p>Next Day Delivery orders taken Monday to Friday and delivered Next Working Day (Saturdays and Sundays are
            not considered working days). Orders placed for Next Day Delivery must be placed before 2pm.</p>
            <p>If your order does not arrive on the designated day and you have not received any information from us
            regarding any possible delays please contact us on 0330 123 4567 Monday - Friday 9.30am – 4.30pm.</p>
            <h6>General Delivery Terms</h6>
            <p>All dates and times for delivery are estimations only and are not guaranteed. They are all subject to
            availability from our on-site warehouse and are also dependent on the service of our used courier company,
            DPD, functioning to their normal ability.</p>
            <p>Please note that we do not deliver to PO Boxes.</p>
            <h6>Product Availability</h6>
            <p>If the product you have ordered goes out of stock after placing an order, then we shall notify you as soon
            as possible and your refund will be processed. As you are not charged at the time of purchasing and any
            money held is for pre-authorisation only, this will be released. It can take up to three days for money to
            be released and we advise you to contact your bank if you require further information.</p>
        </div>
    </div>
</div>

{% endblock %}