{% extends "base.html" %}
{% load static %}

{% block extra_js %}
{% endblock %}


{% block page_header %}
{% endblock %}


{% block content %}
<div class="container-fluid hero-container">
  <div class="row">
    <div class="col-12 hero-carousel p-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-item-inner-text">
              <h2 class="display-3 text-white p-3">SOME TEXT HERE</h2>
            </div>
            <img src="https://cimsp4v1.s3.eu-west-1.amazonaws.com/media/hero1.webp" class="carousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-item-inner-text">
              <h2 class="display-3 text-white p-3">SOME TEXT HERE</h2>
            </div>
            <img src="https://cimsp4v1.s3.eu-west-1.amazonaws.com/media/hero2.webp" class="carousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-item-inner-text">
              <h2 class="display-3 text-white p-3">SOME TEXT HERE</h2>
            </div>
            <img src="https://cimsp4v1.s3.eu-west-1.amazonaws.com/media/hero3.webp" class="carousel-img" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row text-center mt-1 mb-3">
        <h3>Featured Products</h3>
      </div>
      <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100 border-0">
            {% if product.image1.url %}
            <a href="{% url 'product_detail' product.id %}" class="border">
              {% if product.sale_price %}
              <span class="badge badge-sale-sm bg-danger">Sale</span>
              {% endif %}
              <img class="img-fluid" src="{{ product.image1.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
              {% if product.sale_price%}
              <span class="badge badge-sale-sm bg-danger">Sale</span>
              {% endif %}
              <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ product.name }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-left">
              <div class="row">
                <div class="col">
                  {% if product.sale_price %}
                  <p><span
                      class="mb-0 text-left text-danger text-decoration-line-through">£{{ product.price }}</span>&nbsp;
                    <span class="lead mb-0 text-left font-weight-bold">£{{ product.sale_price }}</span></p>
                  {% else %}
                  <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                  {% endif %}
                  {% if product.category %}
                  <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                      <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                    </a>
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-2">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-2">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-2">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-2">
          <hr>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row text-center mt-1 mb-3">
        <h3>Customer Reviews</h3>
        <p><a class="text-muted" href="{% url 'reviews' %}">Read all reviews</a></p>
      </div>
      <div class="row">
        {% for review in reviews %}
        <div class="col-sm-12 col-md-4">
          <div class="card border-0">
            <div class="card-body">
              <div>
                <img src="{{ review.product.image1.url }}" class="img-fluid" alt="...">
              </div>
              <h5 class="card-title">"{{ review.title }}"</h5>
              <h6>{{ review.product.name }}</h6>
              {% include 'products/includes/star_rating.html' %}
              <p class="card-text small text-muted">
                Created by
                {% if review.name %}
                {{ review.name }}
                {% else %}
                anonymous
                {% endif %}
                on {{ review.created_on}}
              </p>
              <p class="card-text">
                {{ review.body }}
              </p>
              {% if request.user.is_superuser %}
              <a class="remove-item btn btn-sm btn-dark ms-1" href="{% url 'delete_review' review.id %}"
                onclick="deleteReview(event)">Remove</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}