{% extends "base.html" %}
{% load static %}

{% block extra_js %}
{% endblock %}

<!--hero-->
{% block page_header %}
<div class="container-fluid hero-container ">
  <div class="row grid-row">
    <div class="col-12 col-md-4 grid-col">
      <div class="img-wrapper">
        <a href="{% url 'products' %}?category=dining_tableware,glassware,kitchenware">
          <img src="/media/hero1.webp" class="img img-fluid" alt="...">
          <div class="img-middle">
            <div class="img-text">kitchenware & Dining</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 grid-col">
      <div class="img-wrapper">
        <a href="{% url 'products' %}?category=mirrors,wall_art,canvas_prints">
          <img src="/media/hero2.webp" class="img img-fluid" alt="...">
          <div class="img-middle">
            <div class="img-text">Wall Art & Clocks</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 grid-col">
      <div class="img-wrapper">
        <a
          href="{% url 'products' %}?category=candleholders_lanterns,decorative_bowls_platters,soft_furnishings,sculptures_decorative_objects">
          <img src="/media/hero3.webp" class="img img-fluid" alt="...">
          <div class="img-middle">
            <div class="img-text">Home Decor</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--/hero-->

{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row text-center mt-1 mb-3">
        <h3>Featured Products</h3>
      </div>
      <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100 border-0">
            {% if product.image1.url %}
            <a href="{% url 'product_detail' product.id %}" class="border">
              {% if product.on_sale%}
              <span class="badge badge-sale-sm bg-danger">Sale</span>
              {% endif %}
              <img class="img-fluid" src="{{ product.image1.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
              {% if product.on_sale%}
              <span class="badge badge-sale-sm bg-danger">Sale</span>
              {% endif %}
              <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ product.name }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-left">
              <div class="row">
                <div class="col">
                  {% if product.on_sale %}
                  <p><span
                      class="mb-0 text-left text-danger text-decoration-line-through">£{{ product.price }}</span>&nbsp;
                    <span class="lead mb-0 text-left font-weight-bold">£{{ product.sale_price }}</span></p>
                  {% else %}
                  <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                  {% endif %}
                  {% if product.category %}
                  <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                      <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                    </a>
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
          <hr>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}