{% extends "base.html" %}
{% load static %}

{% block extra_js %}
{% endblock %}

<!--hero-->
{% block page_header %}
<div class="container-fluid hero-container ">
  <div class="row grid-row">
    <div class="col-12 col-md-4 grid-col">
      <div class="img-wrapper">
        <img src="/media/z1.jpg" class="img img-fluid"
          alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4 grid-col">
      <div class="img-wrapper">
        <img src="/media/z2.jpg" class="img img-fluid" alt="...">
      </div>
    </div>
    <div class="col-12 col-md-4 grid-col">
      <div class="img-wrapper">
        <img src="/media/z3.jpg" class="img img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--/hero-->

{% block content %}
<div class="container-fluid mt-4">
  <div class="row px-md-5">
    <div class="col-12 col-md-3 border border-warning">
      <div class="card">
        <img src="/media/test4.webp" class="img-fluid" alt="...">
        <div class="test">
          <h4>HELLO THERE!</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 border border-warning">
      <div class="card">
        <img src="/media/test4.webp" class="img-fluid" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 border border-warning">
      <div class="card">
        <img src="/media/test4.webp" class="img-fluid" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 border border-warning">
      <div class="card">
        <img src="/media/test4.webp" class="img-fluid" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}