{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid page-title-container py-4 px-0 px-lg-5">
    <div class="row">
        <div class="text-center">
            <h2>Privacy Policy</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-md-6 offset-md-3">
            <p class="lead">We value your privacy</p>
            <p>Paul Reed is a company registered in England Wales with company number 0123456,
                whose registered address is 84 Westgate St, Cardiff, CF10 1NS. In this privacy notice, we will refer
                to ourselves as 'we', 'us' or 'our'.</p>
            <p>You can contact us in any of the following ways:</p>
            <ul>
                <li>By phoning us on <strong>0330 123 4567</strong></li>
                <li>By emailing us at <strong>info@paulreed.co.uk</strong></li>
                <li>By writing to us at <strong>84 Westgate St, Cardiff, CF10 1NS</strong></li>
            </ul>
            <p>We have appointed <strong>Joe Bloggs</strong> as our Data Protection Officer. You can contact them
                using the details listed above.</p>
            <p>Details of personal information which we collect and hold about you:</p>
            <ul>
                <li>Identify information - this includes your first name.</li>
                <li>Contact information - this includes your email address, postal address, and contact number.</li>
                <li>Financial information - this includes your payment details.</li>
            </ul>
            <p>This information will be retained for as long as you are an active member and for up to 30 days after
                you cancel your membership.</p>
            <p>We use your personal information for legitimate interests, i.e. where the use of your personal
                information is necessary for our legitimate interests, and where you have given consent to use your
                personal information.</p>
            <p>You have a right under data protection law to withdraw your consent at any time.</p>
        </div>
    </div>
</div>

{% endblock %}