{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid page-title-container py-4 px-0 px-lg-5">
    <div class="row">
        <div class="text-center">
            <h2>Returns Info</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-md-6 offset-md-3">
            <p class="lead">If I Could Turn Back Time</p>
            <h6>Returns</h6>
            <p>We hope you love your order, but if there’s any problems, please just get in touch with us at
                info@paulreed.co.uk and we’ll give you instructions on how to return your items to us.</p>
            <p>You have 28 days from time of purchase to return an item. After this period, unfortunately we cannot
                offer a
                refund or exchange.</p>
            <p>All items must be returned in the same condition that it was received, in the original packaging and
                unused.
                Please be advised that all delivery and return costs are not refundable. Please obtain proof of postage
                of
                your return. We are not responsible for items lost or damaged in transit.</p>
            <p>We are able to offer a collection service for your return using DPD. If you choose to take advantage of
                this
                service, please note it has a £5 charge, which will be deducted off your refund total.</p>
            <p>It is worth noting that colour, firmness and surface appearance of many of our products may vary because
                of
                the processes used in order to create them, therefore these are not considered defects.</p>
            <h6>Refunds</h6>
            <p>Once items have been returned please allow 5 working days for your refund to be processed. If after 5
                days
                you have not received a refund, please contact your credit card company or bank, it may take some time
                before your refund is visible.</p>
            <p>If you have done the above and you still have not received your refund, please contact us
                info@paulreed.co.uk.</p>
            <h6>Exchanges</h6>
            <p>Items can be exchanged only if defective or damaged. Please email hello@stonethecrows.co.uk with a photo
                of
                the damaged or faulty item. We can then discuss options for replacing the item.</p>
        </div>
    </div>
</div>

{% endblock %}