{% if avgRating == 1 %}
<span class="star-rating">
    <i class="my-star star-1 is-active"></i>
    <i class="my-star star-2"></i>
    <i class="my-star star-3"></i>
    <i class="my-star star-4"></i>
    <i class="my-star star-5"></i>
</span>
{% elif avgRating == 2 %}
<span class="star-rating">
    <i class="my-star star-1 is-active"></i>
    <i class="my-star star-2 is-active"></i>
    <i class="my-star star-3"></i>
    <i class="my-star star-4"></i>
    <i class="my-star star-5"></i>
</span>
{% elif avgRating == 3 %}
<span class="star-rating">
    <i class="my-star star-1 is-active"></i>
    <i class="my-star star-2 is-active"></i>
    <i class="my-star star-3 is-active"></i>
    <i class="my-star star-4"></i>
    <i class="my-star star-5"></i>
</span>
{% elif avgRating == 4 %}
<span class="star-rating">
    <i class="my-star star-1 is-active"></i>
    <i class="my-star star-2 is-active"></i>
    <i class="my-star star-3 is-active"></i>
    <i class="my-star star-4 is-active"></i>
    <i class="my-star star-5"></i>
</span>
{% elif avgRating == 5 %}
<span class="star-rating">
    <i class="my-star star-1 is-active"></i>
    <i class="my-star star-2 is-active"></i>
    <i class="my-star star-3 is-active"></i>
    <i class="my-star star-4 is-active"></i>
    <i class="my-star star-5 is-active"></i>
</span>
{% else %}
<span class="star-rating">
    <i class="my-star star-1"></i>
    <i class="my-star star-2"></i>
    <i class="my-star star-3"></i>
    <i class="my-star star-4"></i>
    <i class="my-star star-5"></i>
</span>
{% endif %}