@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=WindSong&display=swap');

:root {
	--brand-color: #99A2C5;
	--dark-color: #30343F;
	--mid-color: #D0C9E2;
	--light-color: #FFFFFF;
	--accent-color: green;
	--white: #FFF;
	--black: #111;
	--heart: #ffb3be;

	--brand-font: 'Inspiration', cursive;
	--primary-font: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
}

html {
	font-size: 16px;
}

p,
li,
.nav-link {
	font-family: var(--primary-font);
}

/* back to top button */
.btt-button {
	height: 42px;
	width: 42px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.btt-link,
.update-link,
.remove-item {
	cursor: pointer;
}

/* buttons */
.btn-light {
	width: 100%;
	color: var(--dark-color);
	background-color: transparent;
	border: 1px solid var(--dark-color);
	border-radius: 50px;
}

.btn-dark {
	width: 100%;
	color: var(--white);
	background-color: var(--dark-color);
	border: 1px solid var(--dark-color);
	border-radius: 50px;
}

/* page header */
.page-title-container {
	color: var(--white);
	background-color: var(--brand-color);
}

/*--------------------------------------------------------------------header-*/

.brand {
	text-decoration: none;
}

.brand h1 {
	color: var(--brand-color);
	font-family: var(--brand-font);
	font-size: 4rem;
}

.search-icon {
	font-size: 1.5rem;
}

.account-icon {
	font-size: 2.25rem;
}

.bag-icon {
	font-size: 2rem;
}

.mobile-account-icon,
.mobile-search-icon,
.mobile-bag-icon {
	font-size: 2.25rem;
}

/* .nav-link {
	color: var(--secondary-text-color);
	font-size: 1rem;
} */

/* .nav-pills .nav-link.active {
	background-color: #111;
	border-radius: 0%;
} */

/* .nav-link:hover {
	background-color: #ffb3be;
	border-radius: 0%;
	color: var(--secondary-text-color);
} */

.dropdown-toggle::after {
	display: none;
}

#header .input-group {
	width: 60%;
	border: 1px solid #555;
    border-radius: 50px;
}

#header .form-control {
	border: none;
	border-radius: 50px;
}

.navbar {
	background-color: var(--mid-color);
}

.navbar-nav li {
	font-size: 1rem;
}

.navbar-toggler {
	border: 0;
}

/*----------------------------------------------------------------------hero-*/


.hero-container {
	height: 28rem;
	background-color: var(--light-color);
}

.hero-carousel {
	padding: 0;
}

.carousel-item {
	position: relative;
	height: 28rem;
}

.carousel-item img {
	height: 100%;
	width: auto;
	object-fit: cover;
	object-position: 100% 50%;
}

.carousel-indicators [data-bs-target] {
	height: 0.5rem;
	width: 0.7rem;
	background-color: transparent;
	border: 1px solid var(--dark-color);
	border-radius: 50%;
}

.carousel-indicators .active {
	background-color: var(--dark-color);
}

/*--------------------------------------------------------------index-content-*/

.feature-img-lg {
	height: 28rem;
}

.feature-img-sm {
	height: 14rem;
	padding: 1rem;
}

.feature-img-lg img,
.feature-img-sm img {
	height: 100%;
	object-fit: cover;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.feature-img {
	position: relative;
}

.test {
	position: absolute;
	top: 50%;
	left: 10%;
	color: hotpink;
}

/* ---------------------------------------------------------bootstrap-modals-*/



/*--------------------------------------------------------------------footer-*/

#footer {
	position: relative;
	bottom: 0;
	color: var(--white);
	background-color: var(--dark-color);
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer li {
	margin-bottom: 0.25rem;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

#footer p {
	margin: 0;
	font-size: 1rem;
}

#footer .input-group {
	width: 100%;
}

#footer .form-control {
	border: none;
	border-radius: 0;
}

#footer .btn {
	background-color: var(--white);
}

#footer .card-body {
	padding: 0;
	background: inherit;
    border: none;
}

.social-media-icon {
	padding-left: 5px;
    padding-right: 5px;
	color: inherit;
	font-size: 1.25rem;
}

.strong {
	font-weight: 500;
}

.mobile-footer-collapse {
	background: inherit;
    border: none;
    color: inherit;
}

.mobile-footer-collapse h5 {
	align-items: center;
    display: flex;
}

.hvr-pulse:hover {
	color: var(--heart);
}

/*-------------------------------------------------------------------products-*/

.badge {
	margin: 0.25rem 0;
	color: black;
    font-size: 1rem;
    border: 1px solid green;
    border-radius: 50px;
}

.img-thumbnail {
	height: 5rem;
	width: 5rem;
	border: none;
	cursor: pointer;
}

/*----------------------------------------------------allauth-form-formatting-*/

.allauth-form-inner-content p {
	margin-top: 1.5rem;
	/* mt-4 */
	color: #6c757d;
	/* text-secondary */
}

.allauth-form-inner-content input {
	border-color: #000;
	border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
	display: none;
}

.allauth-form-inner-content input::placeholder {
	color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #000;
	border: 1px solid #000;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0;

	/* standard bootstrap btn transitions */
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
	background-color: #222;
	border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
	/* text-info */
}

/* Product Form */

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0;
	border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #dc3545;
	border-color: #dc3545;
	border-radius: 0;
}

/*-------------------------------------------------------------media-queries-*/

@media (min-width: 768px) {
	.w-md-25 {
		width: 25% !important;
	}

	.w-md-50 {
		width: 50% !important;
	}
}




