@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

:root {
	--brand-color: #99A2C5;
	--dark-color: #30343F;
	--mid-color: #D0C9E2;
	--light-color: #FFFFFF;
	--logo-color: #4D5575;
	--white: #FFF;
	--black: #111;
	--heart: #ffb3be;

	--brand-font: 'Inspiration', cursive;
	--primary-font: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
}

html {
	font-size: 16px;
}

p,
li,
.nav-link {
	font-family: var(--primary-font);
}

/* back to top button */
.btt-button {
	height: 42px;
	width: 42px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	background: var(--white);
}

.btt-link,
.update-link,
.remove-item {
	cursor: pointer;
}

.form-control {
	border-radius: 0 !important;
}

/* buttons */
.btn-light {
	color: var(--dark-color) !important;
	background-color: transparent !important;
	border: 1px solid var(--dark-color) !important;
	border-radius: 50px !important;
}

.btn-dark {
	color: var(--white) !important;
	background-color: var(--dark-color) !important;
	border: 1px solid var(--dark-color) !important;
	border-radius: 50px !important;
}

.btn-white {
	color: var(--white) !important;
	background-color: transparent !important;
	border: 1px solid var(--white) !important;
	border-radius: 50px !important;
}

/* page header */
.page-title-container {
	color: var(--white);
	background-color: var(--brand-color);
}

/* vertical center*/
.vcenter {
	display:flex;
	align-items: center;
}

/*--------------------------------------------------------------------header-*/

.brand {
	text-decoration: none;
}

.brand h1 {
	color: var(--logo-color);
	font-family: var(--brand-font);
	font-size: 4rem;
}

.search-icon {
	font-size: 1.5rem;
}

.account-icon {
	font-size: 2.25rem;
}

.bag-icon {
	font-size: 2rem;
}

.mobile-account-icon,
.mobile-search-icon,
.mobile-bag-icon {
	font-size: 2.25rem;
}

.dropdown-menu {
	border: 1px solid var(--brand-color);
	border-radius: 0;
}

.dropdown-toggle::after {
	display: none;
}

#header .input-group {
	width: 60%;
	border: 1px solid var(--dark-color);
}

#header .form-control {
	border: 0;
}

.navbar {
	background-color: var(--mid-color);
}

.navbar-nav li {
	font-size: 1rem;
}

.navbar-toggler {
	border: 0;
}

/*----------------------------------------------------------------------hero-*/

.carousel-img {
	height: 28rem;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.carousel-item-inner-text {
	position: absolute;
	width: 40%;
	top: 5rem;
	left: 1rem;
	background-color: var(--dark-color);
	opacity: 85%;
}

.carousel-item-inner-text h2 {
	font-family: var(--brand-font);
}

.hero-highlight {
	color: var(--brand-color);
}

/*--------------------------------------------------------------------footer-*/

#footer {
	position: relative;
  	left: 0;
  	bottom: 0;
	width: 100%;
	color: var(--white);
	background-color: var(--dark-color);
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer li {
	margin-bottom: 0.25rem;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

#footer p {
	margin: 0;
	font-size: 1rem;
}

#footer .input-group {
	width: 100%;
}

#footer .form-control {
	border: none;
	border-radius: 0;
}

#footer .btn {
	background-color: var(--white);
}

#footer .card-body {
	padding: 0;
	background: inherit;
    border: none;
}

.social-media-icon {
	padding-left: 5px;
    padding-right: 5px;
	color: inherit;
	font-size: 1.25rem;
}

.strong {
	font-weight: 500;
}

.mobile-footer-collapse {
	background: inherit;
    border: none;
    color: inherit;
}

.mobile-footer-collapse h5 {
	align-items: center;
    display: flex;
}

.hvr-pulse:hover {
	color: var(--heart);
}

/*-------------------------------------------------------------------products-*/

.card {
	position: relative;
	border-radius: unset;
  }

.badge-category {
	margin: 0.25rem 0;
	color: var(--dark-color);
    font-size: 1rem;
    border: 1px solid var(--brand-color);
    border-radius: 50px;
}

.badge-sale {
	position: absolute;
	width: 8rem;
	margin: 0.25rem 0;
	padding: 0.5rem;
	color: var(--white);
    font-size: 1.2rem;
	font-weight: 600;
    border-radius: 0;
}

.badge-sale-sm {
	position: absolute;
	width: 4rem;
	margin: 0.25rem 0;
	padding: 0.5rem;
	color: var(--white);
    font-size: 1rem;
	font-weight: 600;
    border-radius: 0;
}

.img-thumbnail {
	height: 5rem;
	width: 5rem;
	border: none;
	cursor: pointer;
}

/*--------------------------------------------------------------------reviews-*/

/*Adapted from https://medium.com/geekculture/how-to-build-a-simple-star-rating-system-abcbb5117365*/
/*set the default color of the stars*/
.star-rating {
	margin-top: 0;
	margin-bottom: 0;
	color: #bebebe;
	font-size: 1.75rem;
}

.rev-star {
	font-size: 2.5rem;
}

/*create the star*/
.my-star::before,
.rev-star::before {
	content: "\002605";
}

/*remove the default style (italic) of the star*/
.my-star,
.rev-star {
	font-style: unset !important;
}

/*set active star color*/
.is-active {
	color: #fb8900;
}

/*set color on hover*/
.rev-star:not(.is-active):hover {
	color: #fb8900;
}

/*------------------------------------------------------------------------bag-*/

.hr-bag{
	border-bottom: 1px solid var(--brand-color);
}

/*----------------------------------------------------allauth-form-formatting-*/

.allauth-form-inner-content p {
	margin-top: 1.5rem;
	/* mt-4 */
	color: #6c757d;
	/* text-secondary */
}

.allauth-form-inner-content input {
	border-color: #000;
	border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
	display: none;
}

.allauth-form-inner-content input::placeholder {
	color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #000;
	border: 1px solid #000;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0;

	/* standard bootstrap btn transitions */
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
	background-color: #222;
	border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
	/* text-info */
}

/* Product Form */

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0;
	border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #dc3545;
	border-color: #dc3545;
	border-radius: 0;
}

/*-------------------------------------------------------------------contact-*/

.contact-info td {
	padding-right: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
}

.contact-info a {
	color: inherit;
	text-decoration: none;
}

.contact-info a:hover {
	color: initial;
	font-weight: 600;
}

.contact-info .icon {
	color: var(--brand-color);
}

/*-------------------------------------------------------------media-queries-*/

/*-small-*/
@media (max-width: 488px) {
	#photo {
		column-count: 1;
	}
	.img-wrapper {
		height: 10rem;
	}
}

/*-medium-*/
@media (min-width: 768px) {
	#photo {
		column-count: 2;
	}
	.w-md-25 {
		width: 25% !important;
	}
	.w-md-50 {
		width: 50% !important;
	}
}

/*-large-*/
@media (min-width: 992px) {
	#photo {
		column-count: 3;
	}
}
