<div class="col-6 d-none d-lg-block">
  <div class="row">
    <div class="col-6 text-end">
      <h5>Customer Info</h5>
      <ul>
        <li>
          <a href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li>
          <a href="{% url 'about_us' %}">About Us</a>
        </li>
        <li>
          <a href="{% url 'terms' %}">Terms & Conditions</a>
        </li>
        <li>
          <a href="{% url 'privacy' %}">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-6 text-end">
      <h5>Orders</h5>
      <ul>
        <li>
          <a href="{% url 'delivery' %}">Delivery Info</a>
        </li>
        <li>
          <a href="{% url 'returns' %}">Returns Info</a>
        </li>
        <li>
          <a href="{% url 'payment' %}">Payment Info</a>
        </li>
      </ul>
    </div>
  </div>
</div>