<div class="col-6 d-none d-lg-block">
  <div class="row">
    <div class="col-6 text-end">
      <h5>Heading</h5>
      <ul>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </div>
    <div class="col-6 text-end">
      <h5>Heading</h5>
      <ul>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </div>
  </div>
</div>