<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Furniture
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'products' %}?category=coffee_tables">Coffee Tables</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=side_tables_cabinets">Side Tables and Cabinets</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?category=dining_tables_chairs">Dining Tables and Chairs</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'products' %}">All departments</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Link</a></li>
        </ul>
      </li>
    </ul>
  </div>