<div class="col-6 d-none d-lg-block">
  <div class="row">
    <div class="col-6 text-end">
      <h5>Paul Reed</h5>
      <ul>
        <li>
          <a href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li>
          <a href="{% url 'about_us' %}">About Us</a>
        </li>
        <li>
          <a href="{% url 'terms' %}">Terms & Conditions</a>
        </li>
        <li>
          <a href="{% url 'privacy' %}">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-6 text-end">
      <h5>Heading</h5>
      <ul>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </div>
  </div>
</div>