<div class="d-block d-lg-none">
  <div class="col-12 text-center pt-2">
    <button class="mobile-footer-collapse h5" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
      aria-expanded="false" aria-controls="collapseExample1">
      Paul Reed
        <span class="material-icons-outlined">
          arrow_drop_down
        </span>
    </button>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        <ul>
          <li>
            <a href="{% url 'contact' %}">Contact Us</a>
          </li>
          <li>
            <a href="{% url 'about_us' %}">About Us</a>
          </li>
          <li>
            <a href="{% url 'terms' %}">Terms & Conditions</a>
          </li>
          <li>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 text-center pt-2">
      <button class="mobile-footer-collapse h5" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
        aria-expanded="false" aria-controls="collapseExample2">
        Orders
          <span class="material-icons-outlined">
            arrow_drop_down
          </span>
      </button>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <ul>
            <li>
              <a href="{% url 'delivery' %}">Delivery Info</a>
            </li>
            <li>
              <a href="{% url 'returns' %}">Returns Info</a>
            </li>
            <li>
              <a href="{% url 'payment' %}">Payment Info</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>