<ul class="me-3 ps-2 d-block d-lg-none">
    <li class="list-inline-item">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" role="button" id="mobile-search" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-center">
                    <span class="material-icons-outlined mobile-search-icon">
                        search
                    </span>
                </div>
            </a>
            <div class="dropdown-menu w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control form-control" type="submit">
                                <span class="material-icons-outlined search-icon">
                                    search
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" role="button" id="mobile-search" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-center">
                    <span class="material-icons-outlined mobile-account-icon">
                        perm_identity
                    </span>
                </div>
            </a>
            <div class="dropdown-menu rounded-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <a class="nav-link d-block d-lg-none"
            href="{% url 'view_bag' %}">
            <div class="text-center">
                <div>
                    <span class="material-icons-outlined mobile-bag-icon">
                        shopping_bag
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>